venv/ 
__pycache__/ 
*.pkl 
*.pkl
data/2024.xlsx
.ipynb_checkpoints/ 
# Hugging Face Space embedded repos
hf_space/
webapp/hf_space/

# Common ignores (agar nahi hain to add karo)
__pycache__/
*.pyc
.env
*.log